// Constantes
- const title = "Accueil"

html(lang="fr")
    include components/_head.pug
    include components/_stylesheet.pug

    body
        include components/_navbar.pug
        include components/_carousel.pug
        include components/_footer.pug
        include components/_js.pug