// Constantes
- const title = "Utilisateurs"

html(lang="fr")
    include components/_head.pug
    include components/_stylesheet.pug

    body
        include components/_navbar.pug
        include components/_tableau.pug
        include components/_footer.pug
        include components/_js.pug