.cardServices.row.col-11.mx-auto
    .col-sm-12.col-md-6.col-lg-4.mx-auto
        i.fas.fa-share-square.fa-7x
        h2 Réseaux sociaux
        p.description 
         | Les réseaux sociaux ne cessent depuis des années d’évoluer. Une entreprise présente sur ceux-ci peut présenter en temps réel son entreprise, ses produits ou services.
         | Un internaute peut immédiatement partager votre contenu à l’ensemble de ses amis.
         br
         br
         | Ce qui favorise les entreprises à développer leur base de clients.
         | Nous avons donc décidé de vous accompagner dans votre communication sur le web en créant pour vous des comptes professionnels sur différents réseaux sociaux. 
    .col-sm-12.col-md-6.col-lg-4.mx-auto
        i.fas.fa-laptop.fa-7x
        h2 Webmastering
        p.description 
         | Lorsque l’on crée un site internet, l’objectif est d’être présent sur le web et de réussir à se positionner dans les premières pages de Google.
         br
         br
         | Malheureusement, ce n’est pas aussi simple ! En effet, pour qu’un site soit correctement référencé, il doit comporter du contenu de qualité et renouvelé. 
         br
         br
         | Notre objectif est de positionner votre site internet de façon durable.
    .col-sm-12.col-md-6.col-lg-4.mx-auto
        i.fas.fa-tag.fa-7x
        h2 Suivi
        p.description 
         | Nos offres ne s’arrêtent pas à la création du site internet.
         | Nous vous livrons une solution clé en main qui vous permet d’animer et de mettre à jour vous-même votre site internet si vous le souhaitez.
         br
         br
         | Du fil d’actualité aux photos, en passant par les tarifs ou les références, nous proposons à nos clients une interface simple et intuitive qui ne nécessite aucune compétence informatique particulière.
         | Nous vous accompagnons avant, pendant et après votre projet.