script(src="vendors/jquery.slim.min.js")
script(src="vendors/popper.min.js")
script(src="vendors/bootstrap/bootstrap.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap", async='', defer='')
script(src="js/maps.js")
