// Liste icones 


.row.listArticles
    .col-sm-12.col-md-6.col-lg-4.mx-auto
        img.rounded.w-100(src="img/hamster.jpg", alt="Hamster")
        p.cate
            span(style='color:#e91e63') 
                i.fa.fa-map.pr-2
                | Animaux
        h3 Fin des cours
        p.infos 
        | by 
        span(style="font-weight:bold") Auteur
        | , le 27/09/2018
        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam neque, dictum nec lorem dapibus, dictum commodo mauris. Mauris commodo pulvinar lobortis. In rutrum dictum sem.
        button.btn.btn-primary(style="border-color:#e91e63;background-color:#e91e63") Read more...
    .col-sm-12.col-md-6.col-lg-4.mx-auto
        img.rounded.w-100(src="img/automne.jpg", alt="Automne")
        p.cate
            span(style='color:#ff7043') 
                i.fa.fa-graduation-cap 
                |  Nature
        h3 L'automne arrive
        p.infos 
        | by 
        span(style="font-weight:bold") Auteur
        | , le 25/09/2018
        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam neque, dictum nec lorem dapibus, dictum commodo mauris. Mauris commodo pulvinar lobortis. In rutrum dictum sem.
        button.btn.btn-primary(style="border-color:#ff7043;background-color:#ff7043") Read more...
    .col-sm-12.col-md-6.col-lg-4.mx-auto
        img.rounded.w-100(src="img/maison.jpg", alt="Maison domotique")
        p.cate
            span(style='color:#33b5e5') 
                i.fa.fa-fire
                |  Technologie
        h3 La domotique
        p.infos 
        | by 
        span(style="font-weight:bold") Auteur
        | , le 23/09/2018
        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam neque, dictum nec lorem dapibus, dictum commodo mauris. Mauris commodo pulvinar lobortis. In rutrum dictum sem.
        button.btn.btn-primary(style="border-color:#33b5e5;background-color:#33b5e5") Read more...