nav.navbar.navbar-expand-lg
    a.navbar-brand TheWebSite
    .buttonPhone
        button#login.navbar-toggler(data-toggle="collapse")
            a.login-link(href="connection.html")
                i.far.fa-user
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
            i.fas.fa-bars
    #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='index.html') Accueil 
            li.nav-item
                a.nav-link(href='services.html') Services
            li.nav-item
                a.nav-link(href='blog.html') Blog
            li.nav-item.dropdown
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Administration
                .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                    a.dropdown-item(href='statistiques.html') Statistiques
                    a.dropdown-item(href='utilisateurs.html') Utilisateurs
            li.nav-item
                a.nav-link(href="contact.html") Contact
        form.form-inline.mx-auto.my-lg-0
            input.form-control.col-10(type='search', placeholder='Recherche', aria-label='Search')
            button.btn.my-2.my-sm-0.col-2(type='submit') 
                i.fas.fa-search.fa-lg.fa-2x
        a.nav-link2.d-none.d-lg-block(href="connection.html")
            i.far.fa-user.fa-lg.fa-2x
