.table-responsive.mx-auto
    table.table.w-auto
        thead
            tr
                th(scope='col') Identifiant
                th(scope='col') Nom d'utilisateur
                th(scope='col') Email
                th(scope='col') Bloqué
                th(scope='col') Groupes
        tbody
            tr
                th(scope='row') 1
                td Thethylor
                td remi.leclerc@gmail.com
                td(align="center") 
                    input.form-check-input(type='checkbox',checked)
                td Utilisateurs
            tr
                th(scope='row') 2
                td TheAdmin
                td admin@example.com
                td(align="center")  
                    input.form-check-input(type='checkbox')
                td Administrateurs
            tr
                th(scope='row') 3
                td Bubble
                td bubble88@outlook.fr
                td(align="center")  
                    input.form-check-input(type='checkbox')
                td Utilisateurs
            tr
                th(scope='row') 4
                td macod
                td macod@gmail.com
                td(align="center")  
                    input.form-check-input(type='checkbox',checked)
                td Administrateurs
            tr
                th(scope='row') 5
                td redOX
                td redox54@outlook.fr
                td(align="center")  
                    input.form-check-input(type='checkbox')
                td Utilisateurs
            tr
                th(scope='row') 6
                td Silveur
                td silveur77@gmail.com
                td(align="center")  
                    input.form-check-input(type='checkbox', checked)
                td Utilisateurs
            tr
                th(scope='row') 7
                td Franouxo
                td violence88@outlook.fr
                td(align="center")  
                    input.form-check-input(type='checkbox')
                td Utilisateurs